[Bb]in
[Oo]bj
*.user
*.suo
_ReSharper*
TestResults
Neo4jClient.*.nupkg
*.docstates
*.crunchsolution.cache
packages
*.ncrunchsolution
*.Cache
*.vs\
*.ghostdoc.xml
project.lock.json
msbuild.log
TestResult.xml
[Nn][Dd]epend[Ou]ut\*
\.vs/
\.idea/